@import "../../globals.scss";

.loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px;
    margin-left: 8px;
  }
}

.loader-icon {
  animation: spin 1s linear infinite;
  color: $product-btn
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}