$white-color : #fff;
$btn-color: #8353E2;
$product-btn: #ED7D2D;
$color-grey: #9095A0;
$error: #FF3333;

//Font sizes

$font-sm: .75rem;
$font-md: .875rem;
$font-lg: 18px;
$font-xlg: 1.5rem;

//Font Family

$font-heading: "Epilogue", sans-serif;
$font-primary : "Inter";