@import '../../globals.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  width: 815px;
  background: $white-color;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  max-height: 540px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .modal-header {
    position: sticky;
    top: 0;
    background: $white-color;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    p {
      display: inline-flex;
      gap: 24px;
      align-items: center;
      font-weight: 600;
      font-family: $font-heading;
    }

    .close-icon {
      width: 24px;
      height: 24px;
      color: $color-grey;
      cursor: pointer;
    }
  }

  .modal-body {
    width: 100%;
    padding: 0px 40px;

    thead {
      tr {
        text-align: center;
        color: $color-grey;
        font-size: $font-md;

        th {
          font-family: $font-heading;
          line-height: 22px;
          font-weight: 500;
        }

        .table-heading-name {
          text-align: left;
          padding-inline-start: 1.25rem;
        }
      }
    }
  }

  .modal-cart-empty {
    display: block;
    margin: 0 auto;
    padding: 20px;
  }

  .modal-footer {
    padding: 30px 90px;
    position: sticky;
    bottom: 0;
    background: $white-color;
    text-align: right;
    font-weight: 600;

    span {
      margin-left: 15px;
    }
  }
}

.cart-item {
  text-align: center;

  &__image {
    position: relative;
    width: 5rem;
    height: 100px;

    img {
      display: block;
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
  }

  td {
    padding: 5px 0px;
  }

  &__name {
    width: 9.375rem;
    text-align: left;

    p {
      padding-inline-start: 1.25rem;
      font-size: $font-md;
      line-height: 22px;
      font-weight: 600;
    }
  }


  &__quantity {
    .quantity {
      display: inline-flex;
      gap: 16px;
      align-items: center;

      svg {
        cursor: pointer;
        color: $color-grey;
      }
    }
  }

  &__total {
    span {
      font-weight: 600;
    }
  }

  &__delete-icon {
    svg {
      width: 16px;
      height: 16px;
      color: $color-grey;
      cursor: pointer;
    }

  }


}

@media (max-width: 600px) {
  .modal-container {
    width: 90%;
    max-height: 90%;

    .modal-header {
      padding: 20px;

      p {
        font-size: $font-md;
        gap: 12px;
      }

      .close-icon {
        width: 20px;
        height: 20px;
      }
    }

    .modal-body {
      padding: 0 20px;

      thead {

        tr,
        th {
          font-size: $font-sm;
        }
      }
    }

    .modal-footer {
      padding: 20px 40px;

      p {
        font-size: $font-sm;
      }
    }
  }

  th {
    display: none;
  }

  .cart-item {

    text-align: left;


    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid $color-grey;

    &__image {
      height: auto;
      grid-row: 1 / 4;
    }

    &__name {
      grid-column: 2 / 4;

      p {
        padding-inline-start: 0;
        font-size: $font-sm;
        line-height: 18px;
      }

      grid-column: span 3;
    }

    &__price {
      display: none;
    }

    &__quantity {
      grid-column: 2 / 4;
      grid-column: span 3;

      .quantity {
        width: 100%;
        justify-content: space-between;
      }

      span {
        font-size: $font-md;
      }
    }

    &__total {
      grid-column: 2;

      span {
        font-size: $font-sm;
      }

    }

    &__delete-icon {
      display: flex;
      grid-column: span 2;
      justify-content: flex-end;
    }
  }
}