@import '../../globals.scss';

.product-list-container {
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  row-gap: 100px;
  justify-content: center;

  li {
    @include list-style-none;
  }
}